body { background: url(/_layout/chessy-gelb.gif) #FFEFAB fixed no-repeat center; }
h1, h2 { color: #EA0; }
div#kopf {background-color: #EA0; color: black;}

/* #FFEB6F */

/* body { background: url(chessy-gelb.gif) #FFEFAB fixed no-repeat center; }
h1, h2 { color: #ffcc00 } */